<div class="app-container">
  @if (showSidebar()) {
    <app-sidebar></app-sidebar>
  }

  <main class="main-content" [class.with-sidebar]="showSidebar()">
    @if (showSidebar() && pageHeader.config()) {
      <header class="main-content__header">
        <app-page-header-outlet></app-page-header-outlet>
      </header>
    }

    <div class="main-content__scroll">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-confirm-action-modal></app-confirm-action-modal>
  <app-snackbar></app-snackbar>
</div>
